#ctn-categorias {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  min-height: 150px;
  width: 100%;
  padding: 1em;
  gap: 1em;
  margin-top: 1em;
}

h2[data-type='categories'] {
  color: var(--letters-color);
  letter-spacing: 0.5px;
  border-left: 4px solid var(--buttons-color);
  padding-left: 16px;
}

.ctn-btns-categorias {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 12px;
  width: 100%;
  height: 55px;
  overflow-x: auto;
  flex-wrap: nowrap;
}
