footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  margin: 2em 0 5.5em 0;
  padding: 1em;
  width: 100%;
  height: 11.5em;
  border-top: 1px solid #4e3431;
  background-color: #0e0e0e;
}

.ctn-help-options {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}

.help-option {
  font-size: 13px;
  color: rgba(255, 255, 255, 0.808);
  letter-spacing: 1.5px;
  text-shadow: 1px 0px 1px rgba(255, 0, 0, 0.938);
  text-decoration: none;
  transition: all 0.2s ease;
}

.help-option:hover {
  color: #7f0622;
}

.copy-footer {
  font-size: 14px;
  font-weight: 600;
  color: #685553;
}
