/* SHOW TIME FULL SECTION */
.ctn-showtimes {
  display: flex;
  flex-direction: column;
  place-items: flex-start;
  padding: 1em;
  gap: 0.8em;
  width: 100%;
  margin-bottom: 5em;
}

.ctn-showtimes span {
  font-size: 15px;
  font-weight: 600;
  color: var(--on-surface-variant);
}

.ctn-schedules {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.7em;
}

.time {
  font-weight: 600;
  font-family: montserrat, 'sans-serif';
  color: var(--letters-color);
  letter-spacing: 1px;
  background-color: transparent;
  border: 2px solid #382624;
  padding: 0.8em 2.2em;
  border-radius: 5px;
  transition: all 0.3s ease;
  cursor: pointer;
}

.time:hover {
  border: 2px solid #9d201a;
}
.time:focus {
  border: 2px solid transparent;
  background-color: #d73028;
}
