/* --- PAGINA HOME - CUSTOM STYLES --- */

/* IMPORTACIONES BASE */
@import '../base/reset.css';
@import '../base/body-config.css';
@import '../base/variables.css';

/* IMPORTACIONES COMPONENTES */
@import '../components/icons.css';
@import '../components/nav.css';
@import '../components/buttons.css';
@import '../components/premiere.css';
@import '../components/categories.css';
@import '../components/billboard.css';
@import '../components/rewards.css';
@import '../components/ad-banner.css';
@import '../components/membership-cta.css';
@import '../components/footer.css';
@import '../base/responsive-home.css';

a.movie-card-link {
  text-decoration: none;
  color: inherit;
}

.desktop-only {
  display: none;
}
