/* COMPONENTES REUTILIZADOS*/
@import '../base/reset.css';
@import '../base/variables.css';
@import '../base/body-config.css';
@import '../components/nav.css';
@import '../components/icons.css';

/* NAV EDITIONS */
#top-nav {
  position: sticky;
}
.ctn-nav-btns a {
  color: var(--letters-color);
}

/* CONTAINER PELICULA SELECCIONADA / INFO */
.ctn-info-pelicula-seleccionada {
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  padding: 1.5em 0;
}
.info-pelicula-seleccionada {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.3em;
}
.info-pelicula-seleccionada p {
  color: rgba(236, 236, 236, 0.808);
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 1px;
  text-shadow: 1px 0px 1px rgba(255, 0, 0, 1);
  padding-bottom: 0.5em;
}
.ctn-age-valoration {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}
.ctn-age-valoration > span {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  padding: 0.1em 0.6em;
  background-color: #353434;
  font-weight: 600;
  letter-spacing: 0.5px;
}
.ctn-valoration-info {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.3em;
}
.valoration-icon {
  width: 13px;
}
.ctn-valoration-info > span {
  font-weight: 700;
  font-size: 12px;
  color: rgb(221, 7, 7);
}

/* IMAGEN SELECCIONADA CONFIG */
.pelicula-seleccionada {
  background: no-repeat center/cover
    url('/src/assets/imgs/img-premiere/mario.jpg');
  width: 100px;
  height: 150px;
  border: 1px solid #1f2325;
  border-radius: 4px;
}

/* APARTADO DE FECHAS DE CITAS */
.ctn-select-date {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 1em 1em 1em;
  gap: 0.8em;
  width: 100%;
}

.ctn-dates {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  gap: 0.6em;
}

.date {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: Montserrat, 'sans-serif';
  width: 5.2em;
  height: 6.5em;
  color: var(--letters-color);
  border: 2px solid #5b3d39;
  border-radius: 5px;
  background-color: #221f1f;
  line-height: 1.8em;
  transition: all 0.3s ease;
}

.date span:nth-child(2n + 1) {
  font-size: 14px;
  font-weight: 600;
  color: #94928e;
}

.date span:nth-child(2) {
  font-size: 27px;
  font-weight: 700;
}

.ctn-select-date > span {
  font-size: 15px;
  font-weight: 600;
  color: rgba(236, 236, 236, 0.808);
  text-shadow: 1px 0px 1px rgba(255, 0, 0, 1);
}

.date:hover {
  border: 2px solid #9d201a;
}

.date:focus {
  border: 2px solid #d72f27;
  background-color: #d73028;
}

.date:focus span:nth-child(2n + 1) {
  color: white;
}

.date:active {
  transform: scale(0.95);
}

/* SHOW TIME FULL SECTION */
.ctn-showtimes {
  display: flex;
  flex-direction: column;
  place-items: flex-start;
  padding: 1em;
  gap: 0.8em;
  width: 100%;
  margin-bottom: 5em;
}

.ctn-showtimes span {
  font-size: 15px;
  font-weight: 600;
  color: rgba(236, 236, 236, 0.808);
  text-shadow: 1px 0px 1px rgba(255, 0, 0, 1);
}

.ctn-schedules {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.7em;
}

.time {
  font-weight: 600;
  font-family: montserrat, 'sans-serif';
  color: var(--letters-color);
  letter-spacing: 1px;
  background-color: transparent;
  border: 2px solid #382624;
  padding: 0.8em 2.2em;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.time:hover {
  border: 2px solid #9d201a;
}
.time:focus {
  border: 2px solid transparent;
  background-color: #d73028;
}

/* SECCION DE PANTALLA */
.ctn-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding: 1em 0;
  height: 5em;
  gap: 1.2em;
  margin-bottom: 2em;
}

.screen-line {
  width: 80%;
  height: 4px;
  background: linear-gradient(90deg, #38262431 0%, #d73028 50%, #38262431 100%);
}

.ctn-screen span {
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 7px;
  color: rgba(236, 236, 236, 0.808);
  text-shadow: 1px 0px 1px rgba(255, 0, 0, 1);
}

/* APARTADO DE SELECCION DE ASIENTOS */

.ctn-seat-selection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3em;
  width: 100%;
  margin-bottom: 8em;
}

.ctn-top-seat,
.ctn-bottom-seat {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 0.5em;
}

.seat {
  width: 2.5em;
  height: 2.5em;
  background-color: #2a2828;
  border: 1px solid #3c2a27;
  border-radius: 10px 10px 0 0;
  transition: all 0.3s ease-out;
}

.seat:active {
  transform: scale(0.8);
}

.seat:focus {
  background-color: #d73028;
  box-shadow: 0 3px 10px rgba(215, 48, 40, 0.5);
}

/* APARTADO DE ESTADO DE ASIENTOS */
.ctn-status {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5em;
  font-size: 14px;
  font-weight: 600;
  color: rgba(236, 236, 236, 0.808);
  text-shadow: 1px 0px 1px rgba(255, 0, 0, 1);
}

.status-item {
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.status-indicator {
  width: 0.8em;
  height: 0.8em;
  border-radius: 2px;
  border: 1px solid #3c2a27;
  background-color: #d72f27;
}

.available {
  background-color: #2e2929;
}

.selected {
  background-color: #d73028;
}

.reserved {
  background-color: #1e1c1c;
}

/* APARTADO DE RESUMEN DE COMPRA */
